{{> head }}
{{> navbar}}


<div class= "row">

    <div class="col-8">

<h1>Gears Of war</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolore nam repudiandae, recusandae corrupti debitis dolorem culpa repellat, quas unde voluptates optio modi, perferendis deleniti eaque ullam! Recusandae, vitae aut.
</p>
    </div>


    <div class="col-4">
        <img src = "assets/img/gears.jpg" class="img-thumbnail">
         <img src = "assets/img/gof.jpg" class="img-thumbnail">


    </div>

</div>



    {{> footer }}